<div>Hi I am in app_4 from user: {{userName}}</div>

<h1>my variables are: </h1>

<ul id="product-list">
</ul>

<script>
    var productJson = {{productJson}};
    var selector = document.getElementById('product-list');
    productJson.forEach(i=>{
        selector.appendChild(document.createElement('li').appendChild(document.createTextNode(i)))
    });
</script>